* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
}
h1, h2, small {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 2rem;
    font-weight: 550;
    color: #1b1d1e;
    margin-bottom: 10px;
}
p {
    font-size: 19px;
    color: #818283;
    line-height: 28px;
    font-family: 'Source Serif Pro', serif;
}
a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 1px;
    outline: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.logo {
    margin-top: 15px;
}
.logo a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #2d8dc5;
    border: 2px solid #2d8dc5;
    padding: 10px 8px 4px 8px;
}
.logo a span {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2d8dc5;
}

.one-page {
    height: 100vh;
    position: relative;
}


.one-page .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 0 70px 0;
}

.one-page .showcase .showcase-col1 {
    max-width: 90%;
    align-self: center;
}

.one-page .showcase .showcase-col1 p {
    margin-bottom: 30px;
}

.one-page .showcase .showcase-col1 a {
    background: #2d8dc5;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
}

footer {
    background: #2d8dc5;
    padding: 15px 0;
    text-align: center;
    color: #fff;
}

footer .footer-inner a {
    text-decoration: none;
    color: #4DAFA7;
}


@media only screen and (max-width: 800px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }


    .one-page .showcase .showcase-col1 {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .one-page .showcase .showcase-col1 {
        grid-area: text;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }
}
